.box {
    width: 100px;
    height: 100px;
    background: red;
}

#ex1 {
    position: relative;
    left: 200px;
    top: 50px;
}

#ex2 {
    background: blue;
}

#has-handles {
    position: relative;
    left: 240px;
    top: 100px;
    background: orange;
}

.handle {
    background: #666;
    position: absolute;
    width: 40px;
    height: 40px;
}

#has-handles .handle2 {
    right: 10px;
    bottom: 10px;
}

.is-dragging {
    opacity: 0.5;
    /* hack for artifacts http://stackoverflow.com/a/12023155 */
    -webkit-backface-visibility: hidden;
}

.container {
    border: 1px solid;
    position: relative;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

#container1 {
    width: 150px;
}

#container1 .box {
    float: left;
    margin: 5px;
    width: 38px;
    height: 38px;
    border: 1px solid;
    background: orange;
}

#kitties {
    background: #CCC;
    width: 140px;
    padding: 10px;
}

#grid-container {
    width: 340px;
    height: 210px;
    position: absolute;
    left: 400px;
    top: 300px;
    border: 1px solid;
}

#grid-container .draggie {
    position: relative;
    left: 30px;
    top: 30px;
    width: 80px;
    height: 80px;
    background: #CCC;
}

.axised {
    position: absolute;
    width: 80px;
    height: 60px;
    background: #F09;
    left: 400px;
}

#axis-x { top: 160px; }

#axis-y { top: 230px; }
